@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Bold.woff2') format('woff2'),
        url('../font/Apercu-Bold.woff') format('woff'),
        url('../font/Apercu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Regular.woff2') format('woff2'),
        url('../font/Apercu-Regular.woff') format('woff'),
        url('../font/Apercu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Italic.woff2') format('woff2'),
        url('../font/Apercu-Italic.woff') format('woff'),
        url('../font/Apercu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-BoldItalic.woff2') format('woff2'),
        url('../font/Apercu-BoldItalic.woff') format('woff'),
        url('../font/Apercu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Light.woff2') format('woff2'),
        url('../font/Apercu-Light.woff') format('woff'),
        url('../font/Apercu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-MediumItalic.woff2') format('woff2'),
        url('../font/Apercu-MediumItalic.woff') format('woff'),
        url('../font/Apercu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Medium.woff2') format('woff2'),
        url('../font/Apercu-Medium.woff') format('woff'),
        url('../font/Apercu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-LightItalic.woff2') format('woff2'),
        url('../font/Apercu-LightItalic.woff') format('woff'),
        url('../font/Apercu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu-Mono.woff2') format('woff2'),
        url('../font/Apercu-Mono.woff') format('woff'),
        url('../font/Apercu-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: "Apercu", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Apercu", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#demo span:after {
    content: '|'; /* The cursor */
    animation: blink 1.5s infinite;
}

#feature-demo span:after {
    content: ""; /* The cursor */
    display: inline-block;
    background-image: url("../docs/star.png");
    background-size: 90px 90px; /* Set the size you want here */
    width: 90px; /* Match width and height to background-size */
    height: 90px;
    animation: blink 1.5s infinite;
}


@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px 0;
}


